
@{
    Layout = null;
}

<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->

    <div>
        <h2>
            <b>
                Exemplo com BootStrap
            </b>
        </h2>
    </div>
</nav>


@Html.ActionLink("Voltar", "Index", "Home")

@Styles.Render("~/Content/css")
