<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="connection" connectionString=" server = localhost; database= db_Licao1; User ID = root; Password = 12345678" providerName="MySql.Data.MySqlClient"/> 
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>